# Functions and Classes

## Challenge: DNA to RNA
---

If you've taken a Biology class, you know that DNA is essentially a long string comprised of 4 nucleotides:

- Cytosine (C)
- Thymine (T)
- Adenine (A)
- Guanine (G)

Example:
```python
dna = 'ACGTAAAACGTGGTGGATTTGACGTGTTTG'
```

RNA is similar to DNA with one exception: all instances of Thymine (T) are replaced with Uracil (U). Our DNA from above would look like this:
```python
rna = 'ACGUAAAACGUGGUGGAUUUGACGUGUUUG'
```

In the cell below, create a function called `dna_to_rna` that accepts a string of DNA and converts it to RNA.

In [1]:
dna = 'ACGTAAAACGTGGTGGATTTGACGTGTTTG'

In [2]:
def dna_to_rna():
    pass

## Challenge: Hamming Distance
---

The DNA strand `'AAAA'` is similar to the strand `'AAAT'` with one exception: the 4th nucleotide is different. In other words, the two strands have a **hamming distance** of 1, where hamming distance is the number of nucleotides that differ between two strands.

In the cell below, create a function called `hamming_distance` that accepts two parameters (`dna1` and `dna2`) and calculates the hamming distance between the two strands. 

**NOTE:** You can assume the two strands will have the same length.

In [3]:
def hamming_distance():
    pass

In [4]:
dna1 = 'ACGTAAAACGTGGTGGATTTGACGTGTTTG'
dna2 = 'ATGTAAACCTGGTGGATTTCACGTGTTTG'

In [5]:
hamming_distance(dna1, dna2)

TypeError: hamming_distance() takes 0 positional arguments but 2 were given

## `args`

`*args` is a parameter that allows any number of parameters to be passed to a function. The `*` at the beginning specifies the variable number of arguments.

In [ ]:
def multiply(x, y):
    return x*y

In [ ]:
multiply(2, 3)

In [ ]:
multiply(2, 3, 4)

In [ ]:
#use *args to pass variable length arguments
def multiply(*args):
    product = 1
    for num in args:
        product = product * num
    return product

In [ ]:
multiply(2, 3)

In [ ]:
multiply(2, 3, 4)

### Unpacking Argument Lists

You may find a situation where you have a collection that you want to unpack into a list.  This is another situation where you can encounter the `*` operation.

In [ ]:
list(range(3, 6, 2))            # normal call with separate arguments

args = [3, 6, 2]
list(range(*args))

`**kwargs`

Using `kwargs` allows unpacking of variable length dictionary like arguments.

In [ ]:
def cheeseshop(kind, **kwargs):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)

    print("-" * 40)
    for kw in kwargs:
        print(kw, ":", kwargs[kw])

In [ ]:
cheeseshop("Limburger",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

In [ ]:
cheeseshop("Limburger",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch",
           year = 1979)

Similar to `*args` you can unpack dictionary items as variable keyword arguments.

In [ ]:
data = {'shopkeeper':"Michael Palin",
           'client':"John Cleese",
           'sketch':"Cheese Shop Sketch",
           'year': 1979}

In [ ]:
cheeseshop("Limburger",
           **data)

In [ ]:
#putting *args and **kwargs together
#note that args and kwargs are not mandatory names
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [ ]:
cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

**Exercise**:  Write a function, `sum_everything` that takes any numbers of arguments and adds them together.

# Object Oriented Programming with Python

- [Docs](https://docs.python.org/3.12/tutorial/classes.html#)

In [ ]:
type('Lenny')

In [ ]:
'Lenny'.__len__()

### Example of Basic Class

![](images/class-sketch.png)

One finds similar hierarchical organization in biology with trees of life.

![](images/tree_of_life.png)

### Making an Account Class

- Define class
- Create instance
- Assign attributes

In [ ]:
class Account:
    pass

In [ ]:
lennys_account = Account()

In [ ]:
type(lennys_account)

In [ ]:
jacobs_account = Account()

In [ ]:
lennys_account.balance = 100

In [ ]:
lennys_account.balance

In [ ]:
jacobs_account.balance

### Defining Methods on the Account

- Define class methods
- Use `__init__` as constructor in class

In [ ]:
class Account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance

    def withdraw(self, amount):
        self.balance -= amount

In [ ]:
lennys_account = Account('Lenny', 100)

In [ ]:
lennys_account.balance

In [ ]:
lennys_account.withdraw(20)

In [ ]:
lennys_account.balance

In [ ]:
hardys_account = Account('Hardy', 1000)

In [ ]:
hardys_account.

<div class="alert alert-info">
    <strong>Constructor Method</strong>
    
  `__init__()`: a special type of method that gives access to the attributes of the class.
    
    
 </div>

**Exercise**: 

We would like to avoid the 

```python 
self.amount = self.amount - howmuch
```

sytax and instead refactor this method to increment the attribute inside the `withdraw` method.  Add two more methods to the class, `deposit` and `statement`.  The `deposit` method should allow to make deposits similar to the withdrawl, and the `statement` method should print who the owner is and what amount of money is in the account.

In [ ]:
class Account:
    def __init__(self, name, balance):
        pass
        

    def withdraw(self, amount):
        pass

    def deposit(self, amount):
        pass

    def statement(self):
        pass

In [ ]:
lennys_account = Account('Lenny', 100)

In [ ]:
lennys_account.statement()

In [ ]:
lennys_account.deposit(1_000_000)

In [ ]:
lennys_account.statement()

### Class variables 

It is important to understand the consequence of using general variables rather than attaching the variable to each instance of a class.

In [ ]:
class Dog:

    tricks = []             # mistaken use of a class variable

    def __init__(self, name):
        self.name = name

    def add_trick(self, trick):
        self.tricks.append(trick)

In [ ]:
d = Dog('Fido')
e = Dog('Buddy')
d.add_trick('roll over')
e.add_trick('play dead')
d.tricks

In [ ]:
class Dog:

    def __init__(self, name):
        self.name = name
        self.tricks = []    # creates a new empty list for each dog

    def add_trick(self, trick):
        self.tricks.append(trick)

In [ ]:
d = Dog('Fido')
e = Dog('Buddy')
d.add_trick('roll over')
e.add_trick('play dead')
d.tricks

### Inheritence


- Create class that inherits from parent class
- Override methods of parent class

![](images/inherit.png)

In [ ]:
class SavingsAccount(Account):
    def __init__(self, name, balance, rate = 0.05):
        super().__init__(name = name, balance = balance)
        self.rate = rate

    def add_interest(self):
        self.balance *= (1 + self.rate)

In [ ]:
lennys_account = SavingsAccount('Lenny', 100, .07)

In [ ]:
lennys_account.balance

### Libraries and Other Peoples Objects

- `pandas`: Documentation [here](https://pandas.pydata.org/)
- cheatsheet: [here](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df

Empty DataFrame
Columns: []
Index: []

#### Create `DataFrame` from scratch

In [5]:
data = {'name': ['Lenny', 'Axel', 'Fu fu'],
        'species': ['dog', 'dog', 'cat']}

In [6]:
df = pd.DataFrame(data)
df

    name species
0  Lenny     dog
1   Axel     dog
2  Fu fu     cat

#### Create `DataFrame` from external file

In [12]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/refs/heads/master/data/drinks.csv'

In [13]:
drinks = pd.read_csv(url)

In [15]:
type(drinks)

pandas.core.frame.DataFrame

In [ ]:
#method to see first five rows

In [16]:
#include argument to view first 8 rows

#### Attributes of `DataFrame`

In [17]:
#shape

In [18]:
#index

In [19]:
#columns

#### Methods on `DataFrame`

In [20]:
#first five rows

In [21]:
#first 8 rows

In [22]:
#last five rows

In [23]:
#summary information

In [24]:
#descriptive summary of numeric variables

In [25]:
#descriptive summary of all variables

In [26]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

#### Selecting Data

In [27]:
#select a column

In [ ]:
#select multiple columns

In [28]:
#using .loc -- references names

In [ ]:
#using .iloc -- references indicies

#### Filtering Data

In [29]:
#countries who have more than 100 servings of beer

In [ ]:
#use the results to select rows where True

In [30]:
#using .loc

In [ ]:
#multiple conditions -- over 100 servings of beer and wine?

#### Sorting Data

In [31]:
#sort values by a columns values

In [32]:
#sort in descending order

In [33]:
#find the 10 observations with most beer servings

In [34]:
#find the 5 smallest spirits consumers

### Decorators 

A decorator wraps a function and adds functionality to a function based on the decorator function.

In [ ]:
def a_decorator(f):
    def wrapper():
        print("Before function call")
        f()
        print("After function call")
    return wrapper

In [ ]:
def howdy():
    print("Howdy!")

In [ ]:
howdy()

In [ ]:
@a_decorator
def howdy():
    print("Howdy!")

In [ ]:
howdy()

In [ ]:
def fib(n):
    if n <= 1:
        return n
    else:
        return fib(n-1) + fib(n - 2)

In [ ]:
fib(10)

In [ ]:
fib(100)

**Example**: 

Suppose you are to write a function that takes in a list of playing card values and returns the sum of these cards.  A loop may be an obvious solution, but you might also use recursion to solve this problem.  

Here, you can think of it as taking the first card from the deck and giving the rest of the deck to someone else to add them.  This person continues this pattern, taking the first card and passing the remaining deck elsewhere.

### Recursion

![](https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Sierpinski_triangle.svg/440px-Sierpinski_triangle.svg.png)



A concept $x$ is recursive if it is used in its own definition.

In [ ]:
def add_cards(deck):
    smaller_deck = deck[1:]
    partial_total = add_cards(smaller_deck)
    extra_card = deck[0]
    return extra_card + partial_total

The function above would continue on forever, thus we need a way to stop the handing over of the summing.  Here, we can understand the stopping place as when the list is empty -- `deck == 0`.  This is our **base case**.

In [ ]:
def add_cards(deck):
    #base case
    if deck == []:
        return 0
    #recursion
    else:
        smaller_deck = deck[1:]
        partial_total = add_cards(smaller_deck)
        extra_card = deck[0]
        return extra_card + partial_total

print(add_cards([5, 2, 7, 3]))

**Exercise**: Define a function `sum_from_m_to_n` which returns the sum of all values from m to n. Write this function recursively.

To help you get started:
1.    What is a smaller version of the problem? Summing from m+1 to n
2.    What do we do with the solved version of the smaller problem? Add m to it
3.    What is the smallest version of the problem (base case)? When m equals n

In [ ]:
def sum_from_m_to_n(m, n):
    pass

In [ ]:
sum_from_m_to_n(1, 5)

### Use Case: Memoization

In mathematics, the Fibonacci numbers, commonly denoted Fn, form a sequence, called the Fibonacci sequence, such that each number is the sum of the two preceding ones, starting from 0 and 1. That is

$$\displaystyle F_{0}=0,\quad F_{1}=1$$

and

$$F_{n}=F_{n-1}+F_{n-2}$$

for n > 1.

The beginning of the sequence is thus:

$$ 0,\;1,\;1,\;2,\;3,\;5,\;8,\;13,\;21,\;34,\;55,\;89,\;144,\;\ldots $$

- [Wikipedia](https://en.wikipedia.org/wiki/Fibonacci_number)

Visualizing the function calls for `fib(5)`:

![](images/fib.png)

In [ ]:
from functools import lru_cache

In [ ]:
@lru_cache
def fib(n):
    if n <= 1:
        return n
    else:
        return fib(n-1) + fib(n - 2)

In [ ]:
fib(100)

In [ ]:
lennys_account.add_interest()

In [ ]:
lennys_account.balance

In [ ]:
print(lennys_account)

In [ ]:
lennys_account


**Exercise**: Create a Band class. A Band should have the following properties and methods:  
- `name`: String  
- `members`: a list of Strings, defaults to an empty list  
- `introduce_lineup()`: a method that prints all of the strings in members  
- `add_member(new_member)`: a method that adds a new member to the members then invokes introduce_lineup
- `kick_out(old_member)`: a method that removes the given member from the members list. If the members list is empty, add a disbanded property equal to True. Otherwise, invoke introduce_lineup.

**Exercise**:


Create the following subclasses that extend the Band class functionality:

- `Punk` bands have a `street_cred` property set to `True` and `earnings` property set to 0
- sell_out(amount): a method that changes street_cred to False and earnings increase by amount
- destroy_hotel_room(): a method that changes street_cred to True and earnings decrease by 5000


- `Jazz` bands have a songbook property set to an empty list
- `add_song(song_title)`: a method that adds the given song_title to the songbook
- `solo()`: a method that prints a message saying "____ is cooking!" fill in the blank with the first string in the members list, then move that member to the end of the list.

### The `__str__` and `__repr__` methods

- Define string representations of class

In [ ]:
class SavingsAccount(Account):
    def __init__(self, name, balance, rate = 0.05):
        super().__init__(name = name, balance = balance)
        self.rate = rate

    def add_interest(self):
        self.balance *= (1 + self.rate)

In [ ]:
lennys_account = SavingsAccount('Lenny', 100)

In [ ]:
lennys_account

In [ ]:
print(lennys_account)

In [ ]:
class SavingsAccount(Account):
    def __init__(self, name, balance, rate = 0.05):
        super().__init__(name = name, balance = balance)
        self.rate = rate

    def add_interest(self):
        self.balance *= (1 + self.rate)

    def __str__(self):
        return f'This is a savings account belonging to {self.name}'

    def __repr__(self):
        return f'{self.name} owns this account'

In [ ]:
lennys_account = SavingsAccount('Lenny', 100)

In [ ]:
lennys_account

In [ ]:
print(lennys_account)

In [91]:
class Punk:
    pass

class Jazz:
    pass